.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  font-family: Open Sans;
  transition: all .3s ease-in-out;
  transition-property: color, background;
  color:black;
  background-color: white;
}
.app-wrapper-dark-mode{
  color:white;
  background-color: black;
}
.primary-color{
  color: #7510f7;
}

.secondary-color{
  color: #13ff9d;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
